@import  '../../../common/templates.sass'

.container
  @extend %flex-column
  margin: 0 auto
  padding-top: 55px
  background-color: $background-color
  width: 100%
  height: 81vh
  font-family: Work Sans ,Halvetica,sans-serif
  color: $main-color

.signUpForm
  max-width: 595px
  @extend %flex-column-just-center
  align-items: center

.submitBtn
  @extend %submit-button

.signUpHeader
  font-size: 30px
  padding: $padding-value
  font-weight: bold

  &Desc
    font-size: 18px
    line-height: 27px
    margin: 11px auto 13px auto
