.container
  display: flex
  justify-content: start
  padding: 0 14px
  color: #ffffff!important
  span
    line-height: 42px
    vertical-align: middle
    font-weight: 400
    font-size: 13px

.checkbox
  color: #ffffff!important
