@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap')
@import 'https://fonts.googleapis.com/css2?family=Work+Sans&display=swap'
%flex-column
  display: flex
  flex-direction: column
  align-items: center

%flex-column-just-center
  display: flex
  flex-direction: column
  justify-content: center

%flex-row
  display: flex
  justify-content: center

//Auth Forms
$main-color: #FFFFFF
$background-color: #3ea9f5
$submit-btn-color: #28d2d0