.wrapper
  max-width: 100%

.currentSlide
  width: 100%
  opacity: 0
  transition: opacity .25s linear

.active
  opacity: 1

.error
  display: none
  &Active
    display: block
    text-align: center
